# Built artifacts
/build
/app/build

# Gradle
.gradle/
/local.properties
/gradle-wrapper.jar
.gradle

# IntelliJ/Android Studio
.idea/
*.iml
*.iws

# Android
/captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.artifacts/
